<p>
  <h2>ログイン画面</h2>
  <form action="<%= actionUrl %>" method="post" accept-charset="UTF-8"
        autocomplete="off" name="login">
    <input type="text" name="uid" size="10" maxlength="8" required><br>
    <input type="password" name="password" size="10" autocomplete="off"
           required><br>
    <input type="submit">
  </form>
</p>
<% if errMsg %>
<p style='color: red'><%= errMsg %></p>
<% end %>
